a { text-decoration: underline; font-weight: bold; font-size: 18px; font-family: tahoma;}
table { border: 4px double red; width: 70%; border-collapse: collapse; background-color : silver; margin: 15px 200px}
table td { border: 1px solid blue; padding: 0.8em; text-align: center;}
table th { border: 1px solid blue; padding: 0.8em; text-align: center;}