p {text-align: justify ;}
#Presentacion {background-color : red ;}
#Ingredientes {background-color : yellow ;}
#Receta {background-color : red ;}
#Alergenos {background-color : silver;}
img {float: left;}